body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Yeseva One', cursive;
    background-color: #E5E5E5;
    margin: 0;
    padding: 0;
}
p{
    font-size: 14px;
    font-family: Poppins;
}
.text-white{
    color: white;
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.adjust-margin{
    margin-top: 70px;
    margin-left: 30px;
}
.top-div{
    border-left: 2px solid rgb(255, 71, 200);
    padding-left: 5px;
}
.blue-color{
    color: rgb(67, 59, 179);
}
.about-paragraph{
    font-family: Poppins;
}
.link-button{  
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    padding: 12px;
    border-radius: 5px;
}
.half-width{
    width: 50%;
    padding: 2%;
}
.half-width img{
    width: 65%;
}
.my-mission{
    text-align: center;
}
.bg-mission{
    background: rgba(79, 157, 166, 0.1);
}
.bg-vission{
    background: rgba(255, 89, 89, 0.1);
}
.bg-goal{
   background: #FFF4D6;
}
.mission-card{
    padding-top: 10px;  
}
.mission-items{
    margin-left: 10px;
    padding-left: 7px;
    font-family: Poppins;
    border-radius: 26px;
}

.mission-items img{
    width: 45%;
}
.developer-img{
    
    margin-left: 50px;
    background-image: url(./images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.developer-intro{
    padding-right: 180px;
}
.global-community{
    padding: 80px;
}
.team-img{
    padding-right: 50px;
    background-image: url(./images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    border-image-slice:3;
}
.about-me{
    margin: auto;
}
footer{
    text-align: center;
    background: black;
    padding: 20px;
}

